[submodule "dependencies/SDL"]
	url = https://github.com/libsdl-org/SDL
	path = dependencies/SDL
[submodule "dependencies/SDL_image"]
	path = dependencies/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
